.add-title-data {
    color: white;
    text-align: center;
}

.data-text {
    color: white;
    left: 2%;
}

.text-box {
    size: 30rem;
    left: 2%;
}

.fact-box {
    align-items: center;
    size: 30rem;
}