.planet-form {
    padding-top: 1rem;
    padding-left: 10rem;
    padding-bottom: 30.5%;
}


.add-title-data {
    color: white;
    text-align: center;
    padding-bottom: 5rem;
}


.data-text {
    color: white;
}


.text-box {
    
}


.fact-box {
    align-items: center;
    size: 30rem;
}
