#root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.planet-info {
  color: #fff;
  /* background-color: #fff; */
  border-radius: 3rem;
  z-index: 2;
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 2rem;
  width: 20rem;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 2s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
}

@media screen and (max-width: 600px) {
  .planet-info {
    position: relative;
  }
  .right-arrow {
    top: 20%;
  }
  .left-arrow {
    top: 20%;
  }
}
